:root {
  --dark: #1e1e2c;
  --darkest: #272938;
  --light: #404457;
  --white: #fefefe;
  --green-btn: #01c07b;
  --red-btn: #ed4d4d;
  --orange-btn: #ff9100;
  --blue-btn: #0075ff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: normal;
  font-family: sans-serif;
  background-color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input {
  outline: none;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
label {
  color: var(--white);
}

.material-icons {
  color: var(--white);
}

/* Buttons */

.btn {
  width: 80px;
  height: 40px;
  border-radius: 2rem;
  background-color: var(--green-btn);
  margin-bottom: 1rem;
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
}

.btnLow {
  background-color: var(--green-btn);
  margin-right: 1rem;
}

.btnMedium {
  background-color: var(--orange-btn);
  margin-right: 1rem;
}

.btnHigh {
  background-color: var(--red-btn);
  margin-right: 1rem;
}

.btnBlue {
  background-color: var(--blue-btn);
}
